<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form action="/api/auth" method="POST">
    <div class="form-group">
        <label for="login_id">Username:</label>
        <input type="text" class="form-control" id="login_id" name="login_id" placeholder="Enter username" required>
    </div>

    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
</form>
</body>
</html>
